<!--lengingFinalPage.ejs-->
<div class="container" style="padding: 15px; margin: 15px;">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <h3 style="text-align: center; font-weight: bolder; width: 100%">Payment Details</h3>
                        <img style="width: 100%; height: 100%; object-fit: contain" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                    </div>
                </div>
                <div class="card-block">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="padding: 10px">
                                    <label>CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="tel" class="form-control" placeholder="Valid Card Number" />
                                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7 col-md-7">
                                <div class="form-group" style="padding:0px 10px 10px;">
                                    <label><span class="hidden-xs">EXPIRATION DATE</span></label>
                                    <input type="tel" style=" width: 100%" class="form-control" placeholder="MM / YY" />
                                </div>
                            </div>
                            <div class="col-5 col-md-5">
                                <div class="form-group" style="padding: 0px 10px 10px 0px">
                                    <label>CV CODE</label>
                                    <input type="tel" class="form-control" placeholder="CVC" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" style="padding: 0px 10px 10px">
                                    <label>CARDHOLDER</label>
                                    <input type="text" class="form-control" placeholder="Cardholder Name" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="align-content: center">
                            <button class="btn btn-warning btn-lg btn-block" onclick="lend('<%=model.id%>')">Process payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .cc-img {
        margin: 0 auto;
    }
</style>

<script>
    async function lend(id) {
        var r = confirm("Do you want to make payment?");
        if (r == true) {
            var response = await fetch("/Request/RequestList/" + id, {
                // var response = await fetch("/Request/RequestList/", {
                method: "POST",
                credentials: 'same-origin',
         
        });

            if (response.redirected) {
                window.location = response.url;
            }
            else
                if (response.status == 200) {
                    var data = await response.json();
                    alert(data);
                    window.location.replace("/User/Homepage");
                }
                else if (response.status == 401) {
                    var data = await response.text();
                    alert(data);
                }
                else {
                    alert(response.statusText);
                }
        };
    }
</script>