<body>
    <nav class="nav justify-content-end navbar-light" style="background-color: black; height: 76px">
        <img src="http://localhost:1337/images/logo.png" style="position: absolute; left: 20px; margin-top: 8px; width:120px; height:60px">
        <h5 class="text-block__lead-paragraph" style="color:aliceblue; position: absolute; left: 160px; margin-top: 22px;">The best choice for HKBU students</h5>
        <li class="nav-item">
            <image src="http://img2.3png.com/a58716dc8997bd8d70b7a30e9541f460c4bb.png" style="margin-top:28px; width:20px; height:20px;">
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color:white; margin-top:13px; font-size:20px">56284388</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/user/login" style="color:white; margin-top:13px; font-size: 20px">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"></a>
        </li>
    </nav>
    <div style="background-size: 100%;background-image: url(https://theculturetrip.com/wp-content/uploads/2016/08/hong-kong-960214_1280.jpg)">
        <br> <br> <br> <br>
        <img src="http://localhost:1337/images/logo.png" style="position: absolute;right: 60px ; width:300px;height:200px;">
        <div class="container">
            <a style="color:antiquewhite ; font-size: 60px">InstantCash</a>
            <br><br>
            <h3 class="text-block__lead-paragraph" style="color:antiquewhite ">Lending and Borrowing instant money</h3>
            <h3 class="text-block__lead-paragraph" style="color:antiquewhite ">if you are a HKBU student.</h3>
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br>
        </div>
    </div>
    <br>
    <div class="container">
        <div class=" row justify-content-center">
            <div class="col-6">
                <h1 class="text-block__lead-paragraph" style="color:black ">We are here to help you.</h1>
            </div>
        </div>
        <div class=" row justify-content-center">
            <div class="col-12">
                <h4 class="text-block__lead-paragraph" style="color:black ">If you are a HKBU student and you need some
                    urgent money, but you are very shy for asking </h4>
            </div>
        </div>
        <div class=" row justify-content-center">
            <div class="col-11">
                <h4 class="text-block__lead-paragraph" style="color:black ">your friends. Using us, no one knows who
                    borrows the money, and no one knows who
                </h4>
            </div>
        </div>
        <div class=" row justify-content-center">
            <div class="col-8">
                <h4 class="text-block__lead-paragraph" style="color:black ">lends the money. You can get your money
                    immediately.
                </h4>
            </div>
        </div>

    </div>
</body>